<div mat-dialog-title class="modal-header">
    <div class="header-content">
        <h4>Statistics</h4>
        <mat-icon
            aria-hidden="false"
            aria-label="Close button"
            fontIcon="close"
            (click)="dialogRef.close()"
        ></mat-icon>
    </div>
</div>

<mat-dialog-content>
    <qoli-sidebar [isAoristicAnalysis]="true"></qoli-sidebar>

    <div class="stats-content">
        <div [ngClass]="{'chart-container': true, 'horizontal': isHorizontal, 'vertical': !isHorizontal}">
            <canvas
                baseChart
                id="stats-chart"
                [data]="chartData"
                [options]="chartOptions"
                [type]="chartType"
            ></canvas>
        </div>
    </div>
</mat-dialog-content>
