@import 'src/assets/styles/variables';

$gap: $size-medium;

mat-dialog-content {
    display: flex;
    flex-direction: row;
    gap: $gap;
    position: relative;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }

    > qoli-sidebar {
        position: relative;

        ::ng-deep {
            .sidebar {
                .global-filter {
                    > form > .form-footer {
                        width: calc(100% - (2 * #{$global-filter-padding})) !important;
                        bottom: $size-small !important;
                    }
                }

                @media only screen and (max-width: 800px) {
                    width: 100%;
                }
            }
        }
    }

    .stats-content {
        display: flex;
        flex-direction: column;
        width: calc(100% - $gap);

        > .chart-container {
            position: relative;
            width: 100%;

            &.horizontal {
                height: 800px;
            }

            &.vertical {
                height: 500px;
            }
        }
    }
}
