@import 'src/assets/styles/variables.scss';

$gap: $size-medium;

mat-dialog-content.stats-body {
    display: flex;
    flex-direction: row;
    gap: $gap;
    position: relative;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }

    > qoli-sidebar {
        position: relative;

        ::ng-deep {
            .sidebar {
                .global-filter {
                    > form > .form-footer {
                        width: calc(100% - (2 * #{$global-filter-padding})) !important;
                        bottom: $size-small !important;
                    }
                }

                @media only screen and (max-width: 800px) {
                    width: 100%;
                }
            }
        }
    }

    .stats-content {
        display: flex;
        flex-direction: column;
        width: calc(100% - #{$filter-box-width} - #{$gap});

        @media only screen and (max-width: 800px) {
            width: 100%;
        }

        > .chart-container {
            position: relative;
            width: 100%;

            &.horizontal {
                height: 800px;
            }

            &.vertical {
                height: 500px;
            }
        }

        > .table-container {
            display: flex;
            flex-direction: column;
            border-radius: $size-small;
            overflow: hidden;

            > .table-content {
                max-height: 800px;
                overflow: auto;

                .mat-mdc-row:hover {
                    background-color: $light-grey;
                }
            }
        }
    }
}
