@import 'src/assets/styles/variables';

$gap: $size-medium;

mat-dialog-content {
    display: flex;
    flex-direction: row;
    gap: $gap;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }

    .sidebar {
        width: $filter-box-body-width;
        position: relative;

        ::ng-deep {
            .global-filter {
                width: $filter-box-body-width;
                overflow: auto;

                > form > .form-footer {
                    width: calc($filter-box-body-width - 2 * $global-filter-padding) !important;
                    bottom: $size-small;
                }
            }
        }

        @media only screen and (max-width: 800px) {
            width: 100%;

            ::ng-deep {
                .global-filter {
                    width: 100%;

                    > form > .form-footer {
                        width: calc(100% - $size-small) !important;
                    }
                }
            }
        }
    }

    .stats-content {
        display: flex;
        flex-direction: column;
        width: calc(100% - $gap);

        > .chart-container {
            position: relative;
            width: 100%;

            &.horizontal {
                height: 800px;
            }

            &.vertical {
                height: 500px;
            }
        }
    }
}
