<div class="global-filter">
    <button class="btn btn-counter disabled">
        {{ filter.form.value['countries']?.length }} selected countries
    </button>

    <form class="needs-validation" [formGroup]="filter.form">
        <mat-accordion *ngIf="isChartAnalysis">
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="label">Chart Options</div>
                        <button class="btn btn-link btn-reset" (click)="filterService.onChartOptionsReset($event)">
                            Reset
                        </button>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <qoli-stats-filter></qoli-stats-filter>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="label">
                            {{ filter.form.value['analysisType'] === ANALYSIS_TYPE.AGGREGATE ? 'Aggregated Filter' : '' }}
                            {{ filter.form.value['analysisType'] === ANALYSIS_TYPE.INDIVIDUALLY ? 'Individually Filter' : '' }}
                        </div>
                        <button class="btn btn-link btn-reset" (click)="filterService.onSectionReset($event)">
                            Reset
                        </button>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <qoli-atlas-base-filter
                    [isChartAnalysis]="isChartAnalysis"
                    [isTableAnalysis]="isTableAnalysis"
                ></qoli-atlas-base-filter>
                <qoli-aggregated-filter *ngIf="filter.form.value['analysisType'] === ANALYSIS_TYPE.AGGREGATE"></qoli-aggregated-filter>
                <qoli-atlas-individually-filter *ngIf="filter.form.value['analysisType'] === ANALYSIS_TYPE.INDIVIDUALLY"></qoli-atlas-individually-filter>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="form-footer">
            <button class="btn btn-md btn-success" type="submit" (click)="filterService.onFilterApply(onToggleScore)" [disabled]="filter.isDisabled()">
                Apply Filter
            </button>
            <button class="btn btn-md btn-secondary" type="submit" (click)="filterService.onReset()">
                Reset Filter
            </button>
        </div>
    </form>
</div>
