<div
    class="map"
    leaflet
    [leafletOptions]="MAP_OPTIONS"
    [leafletLayers]="layers"
    [leafletLayersControl]="layersControl"
    (leafletMapReady)="onMapReady($event)"
>
    <div *ngIf="false" [leafletLayer]="layers[1]"></div>
    <qoli-loader *ngIf="lifeIndexFetcher.isLoading"></qoli-loader>
</div>

<div class="leaflet-bar" id="filter-controller">
    <a href="#" role="button" aria-disabled="false" (click)="onOpenSidebar($event)">
        <i class="bi bi-arrow-right-short"></i>
    </a>
</div>

<div class="info" id="legend">
    <div class="legend-group">
        <div>Best Score</div>
        <div class="grades">
            <i *ngFor="let grade of atlasService.GRADES" [style]="{background: atlasService.getColor(grade)}"></i>
        </div>
        <div>Worst Score</div>
    </div>
</div>

<div class="info land-summary" id="land-summary">
    <div class="content">
        <div class="header"></div>
        <div class="body"></div>
    </div>
</div>
