@import 'src/assets/styles/variables.scss';

.sidebar {
    width: $filter-box-width;
    height: calc(100% - 4 * $size-medium);
    overflow: hidden;

    .sidebar-header {
        display: flex;
        justify-content: space-between;
    }
}
