<mat-form-field [formGroup]="filter.form">
    <mat-label>Chart Type</mat-label>

    <mat-select formControlName="chartType">
        <mat-option
            *ngFor="let chartType of CHART_TYPE"
            (click)="onSelectType(chartType)"
            [value]="chartType"
        >
            {{ CHART_TYPE_LABELS[chartType] }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field [formGroup]="filter.form">
    <mat-label>Chart Direction</mat-label>

    <mat-select formControlName="chartDirection">
        <mat-option
            *ngFor="let direction of CHART_DIRECTION"
            (click)="onSelectDirection(direction)"
            [value]="direction"
        >
            {{ CHART_DIRECTION_LABELS[direction] }}
        </mat-option>
    </mat-select>
</mat-form-field>
