<mat-form-field [formGroup]="filter.form">
    <mat-label>Chart Type</mat-label>

    <mat-select formControlName="chartType">
        <mat-option
            *ngFor="let chartType of statsFilterService.chartTypes"
            (click)="statsFilterService.onSelectType(chartType)"
            [value]="chartType"
        >
            {{ statsFilterService.chartTypesLabels[chartType] }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field [formGroup]="filter.form">
    <mat-label>Chart Direction</mat-label>

    <mat-select formControlName="chartDirection">
        <mat-option
            *ngFor="let direction of statsFilterService.chartDirections"
            (click)="statsFilterService.onSelectDirection(direction)"
            [value]="direction"
        >
            {{ statsFilterService.chartDirectionsLabels[direction] }}
        </mat-option>
    </mat-select>
</mat-form-field>
