$atlas-header-height: 32px;
$mapZIndex: 1;

$filter-box-width: 400px;
$filter-item-padding: 16px;
$global-filter-padding: 2px;
$leaflet-pane-z-index: 400;

// Colors
$black: #1a1b1f;
$blue: #0078a8;
$indigo: #004290;
$light-blue: #cfe2ff;
$light-grey: #e0e2ec; // var(--mdc-filled-text-field-container-color)
$grey: #7f7f7f;
$white: #fcfcfc;

// Design System
$size-xxsmall: 2px;
$size-xsmall: 4px;
$size-small: 8px;
$size-medium: 16px;
$size-large: 24px;
$size-xlarge: 32px;
$size-xxlarge: 48px;
$size-xxxlarge: 64px;
