@import 'src/assets/styles/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - (4 * #{$filter-item-padding}) - 24px);

    ::ng-deep {
        .global-filter {
            height: 100%;
        }
    }
}
