<mat-drawer-container style="height: 100%;">
    <mat-drawer #drawer mode="over" class="filter-drawer" (closedStart)="onSidebarClose()">
        <qoli-sidebar
            (closeSidebar)="onToggleSidebar($event)"
            [onToggleScore]="onToggleScore"
        ></qoli-sidebar>
    </mat-drawer>

    <mat-drawer-content class="map-container">
        <div id="header">
            <button
                *ngFor="let item of MENU_ITEMS"
                [id]="item.id"
                type="button"
                [ngClass]="{
                    'btn': true,
                    'btn-light': item.id !== MENU_ITEMS_IDS.LOGO,
                    'active': activeMenuItemId === item.id
                }"
                (click)="onMenuItemClick($event, item)"
            >
                <div class="button-content">
                    <i *ngIf="item.iconClasses" [ngClass]="item.iconClasses"></i>
                    {{ item.label }}
                </div>
            </button>
            <button id="checkbox-button" (click)="onToggleScore()">
                <mat-checkbox [checked]="showScore">
                    Show Score
                </mat-checkbox>
            </button>
        </div>

        <qoli-atlas
            (openSidebar)="onToggleSidebar($event)"
            [showScore]="showScore"
        ></qoli-atlas>
    </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
