<div mat-dialog-title class="modal-header">
    <div class="header-content">
        <h4>Statistics</h4>
        <mat-icon
            aria-hidden="false"
            aria-label="Close button"
            fontIcon="close"
            (click)="dialogRef.close()"
        ></mat-icon>
    </div>
</div>

<mat-dialog-content class="stats-body">
    <qoli-sidebar [isChartAnalysis]="true"></qoli-sidebar>

    <div class="stats-content">
        <qoli-loader [className]="className">
            <canvas
                baseChart
                id="stats-chart"
                [data]="chartData"
                [options]="chartOptions"
                [type]="chartType"
            ></canvas>
        </qoli-loader>
    </div>
</mat-dialog-content>
