@import 'src/assets/styles/variables.scss';

.global-filter {
    display: flex;
    flex-direction: column;
    gap: $size-medium;
    padding: $size-xxsmall;
    height: calc(100% - 7 * #{$filter-item-padding});
    overflow: auto;

    > .btn-counter {
        background-color: rgba(26, 27, 31, 0.08);   // The same background-color as the collapsed mat-expansion-panel-header
        border: 0;
        border-radius: $size-small;
        color: $black;                              // The same color as mat-panel-title
        font-weight: 500;                           // The same font-weight as mat-panel-title
        text-align: left;
        padding: $size-small $size-large;
        box-shadow:                                 // The same shadow as mat-expansion-panel
            0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    > form {
        display: flex;
        flex-direction: column;
        gap: $size-medium;

        .mat-accordion {
            > .mat-expansion-panel {
                & .mat-expanded {
                    background-color: $light-blue;
                }

                > .mat-expansion-panel-header {
                    border-radius: initial;

                    .mat-expansion-panel-header-title {
                        width: 100%;
                        justify-content: space-between;

                        button.btn-reset {
                            text-decoration: none;
                        }
                    }
                }

                ::ng-deep {
                    > .mat-expansion-panel-content {
                        > .mat-expansion-panel-body {
                            padding: $size-medium $size-large;

                            mat-form-field {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        > .form-footer {
            position: absolute;
            top: auto;
            bottom: $size-large;
            width: calc(100% - (2 * #{$filter-item-padding}));
            display: flex;
            gap: $size-medium;

            > button[type='submit'] {
                width: 50%;
            }
        }
    }
}
