<div mat-dialog-title class="modal-header">
    <div class="header-content">
        <h4>Statistics</h4>
        <mat-icon
            aria-hidden="false"
            aria-label="Close button"
            fontIcon="close"
            (click)="dialogRef.close()"
        ></mat-icon>
    </div>
</div>

<mat-dialog-content class="stats-body">
    <qoli-sidebar [isTableAnalysis]="true"></qoli-sidebar>

    <div class="stats-content">
        <h6 class="text-center">{{ statsService.generateChartTitle() }}</h6>

        <qoli-loader className="table-container mat-elevation-z8">
            <div class="table-content">
                <table mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="code">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>Country Code</th>
                        <td mat-cell *matCellDef="let entry">{{ entry.code }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>Country Name</th>
                        <td mat-cell *matCellDef="let entry">{{ entry.name }}</td>
                    </ng-container>

                    <ng-container *ngFor="let period of periodColumns" [matColumnDef]="period">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ period }}</th>
                        <td mat-cell *matCellDef="let entry">{{ entry[period] }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
            </div>

            <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 50]"
                pageSize="10"
                showFirstLastButtons
                aria-label="Select page">
            </mat-paginator>
        </qoli-loader>
    </div>
</mat-dialog-content>
