// TODO: check why rfs override bootstrap rules
//@import 'node_modules/bootstrap/scss/bootstrap';
//$bootstrap-modal-margin: $modal-dialog-margin-y-sm-up;

$atlas-header-height: 32px;
$mapZIndex: 1;

$bootstrap-modal-margin: 1.75rem;

$filter-item-padding: 16px;
$filter-box-body-width: 400px;

// Colors
$black: #1a1b1f;
$blue: #0078a8;
$indigo: #004290;
$light-blue: #cfe2ff;
$white: #fcfcfc;

// Design System
$size-xxsmall: 2px;
$size-xsmall: 4px;
$size-small: 8px;
$size-medium: 16px;
$size-large: 24px;
$size-xlarge: 32px;
$size-xxlarge: 48px;
$size-xxxlarge: 64px;
