<mat-form-field [formGroup]="filter.form">
    <mat-label>Quality of Life Index</mat-label>

    <mat-select formControlName="selectedIndicator" placeholder="No indicator is selected">
        <mat-select-trigger>
            {{ displaySelectedIndicator() }}
        </mat-select-trigger>

        <mat-optgroup
            *ngFor="let dimension of filter.baseFilter.qoliIndividuallyOptions.aggregators"
            class="checkbox-optgroup"
            [label]="dimension.label"
        >
            <mat-option
                *ngFor="let indicator of dimension.aggregators"
                [value]="indicator"
            >{{indicator.label}}</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
